@import 'tailwindcss' source('./src');

@layer base {
  body {
    @apply text-black font-sans p-4 items-center;
  }

  h1 {
    @apply text-3xl font-normal underline underline-offset-2 hover:decoration-2 text-center mb-12 justify-center;
  }

  h2 {
    @apply text-2xl font-bold tracking-wide mb-4 mt-8;
  }

  p.prose {
    @apply text-base leading-relaxed mb-4;
  }

}
